.card {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px wheat;
    background-color: aliceblue;
    border: 2px solid #5a5a5a;
    border-radius: 5px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    border-bottom: 3px solid wheat;
    text-transform: capitalize;
    padding: 5px;
}
.body {
    padding-left: 10px;
    overflow-y: hidden;
    -webkit-line-clamp: 3;
}