@import url('./assets/vars.css');

* {
    box-sizing: border-box;
}

.headline {
    color: transparent;
    -webkit-text-stroke: 1px #04D939;
  }

  .hidden {
    visibility: hidden;
  }
  .actions {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .button {
    font-size: larger;
    margin: 1rem auto;
    display: flex;
    background-color: var(--primaryColor);
    cursor: pointer;
    color: var(--backgroundColor);
    border: 1px solid var(--primaryColor);
    border-radius: 5px;
    width: 4.5rem;
}
.button:hover {
    transition: all 0.3s ease-in;
    outline: unset;
    color:  var(--seconderyColor);
    border: 1px solid currentColor;
}

.toast {
    position: absolute;
    width: 30%;
    border: 1px solid var(--primaryColor);
    border-radius: .5em;
    box-shadow: 3px 3px 6px var(--backgroundColor);
    height: 30%;
    bottom: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    translate: -50% -50%;
    background-color: var(--seconderyColor);
    color: var(--backgroundColor);
    backdrop-filter: blur(3px);
}
.toast .exit {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}